:root {
    --primary: #fff;
    --secondary: #0a0a0a;
    --accent: #007aff
}

body {
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    padding-top: 60px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: var(--secondary);
}

.btn {
    display: inline-block;
    padding: 6px 13px;
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--secondary);
    white-space: nowrap;
    text-decoration: none;
    border: 1px solid #c7c7c7;
    transition: transform 0.1s ease-out 
}

.btn:hover {
    transform: scale(1.1);
}

button {
    padding: 6px 13px;
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--secondary);
    white-space: nowrap;
    text-decoration: none;
    border: 1px solid #c7c7c7; 
}

button:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease-out 
}

button:active {
    transform: scale(0.9);
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1)
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h6 {
    font-weight: 400;
}

a {
    color: #494949;
    transition: color 0.1s ;
}

a:hover {
    color: var(--secondary)
}

.tltp {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tltpt {
  visibility: hidden;
  width: 130px;
  background-color: #d7d7d7;
  color: var(--secondary);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text on hover */
.tltp:hover .tltpt {
  visibility: visible;
}