:root {
    --primary: #fff;
    --secondary: #0a0a0a;
    --accent: #007aff
}

body {
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    padding-top: 60px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: var(--secondary);
}

.btn {
    padding: 6px 13px;
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--secondary);
    white-space: nowrap;
    text-decoration: none;
    border: 1px solid #c7c7c7;
    transition: background-color 0.1s ease-in-out;
}

.btn :hover {
    background-color: #ededed;
}